{% extends "layout/admin_app.twig" %}

{% block title %}회원 관리자{% endblock %}

{% block style %}
    <style>
        .pagination { list-style: none; padding: 0; margin: 0; }
        .pagination > li { display: inline-block; padding: 0 5px; }
        .pagination > li > a { text-decoration: none; }
        .pagination > li.active > span { font-size: 18px; font-weight: bold; }
    </style>
{% endblock %}

{% block content %}
<h1>회원 관리자</h1>
<table border="1">
    <thead>
        <th>Id</th>
        <th>이름</th>
        <th>이메일</th>
        <th>승인여부</th>
        <th>등록일자</th>
        <th>관리</th>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="{{ path_for('blog.admin.user.edit', { user_id: user.id }) }}">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
            <td>{{ user.approved ? '승인' : '미승인' }}</td>
            <td>{{ user.created_at }}</td>
            <td>
                {{ form_open('DELETE', { action: path_for('blog.admin.user.destroy', { user_id: user.id }) }) }}
                    {{ csrf_input() }}
                    <button type="submit">삭제하기</button>
                {{ form_close() }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{{ users.links('pagination/default.twig') | raw }}

{% endblock %}
