{% extends "layout/admin_app.twig" %}

{% set title = '공지 관리' %}
{% set csrf_input = csrf_input() %}

{% block title %} :: {{ title }}{% endblock %}

{% block content %}
    <div id="content">
        <div class="top">
            <h2>{{ title }}<small>{{ notices.total }} 건</small></h2>
            <div class="link">
                <a href="{{ path_for('blog.admin.notice.create') }}">공지 쓰기</a>
            </div>
        </div>

        <div class="search-box bg">
            {{ form_open('GET', { action: path_for('blog.admin.notice.index') }) }}
                <div class="search-field">
                    <select name="field" class="form-control">
                        <option value="">선택</option>
                        <option value="name" {{ params.field == 'name' ? 'selected'}}>작성자</option>
                        <option value="title" {{ params.field == 'title' ? 'selected'}}>제목</option>
                        <option value="content" {{ params.field == 'content' ? 'selected'}}>내용</option>
                    </select>
                </div>
                <div class="search-word">
                    <input type="text" name="word" class="form-control" value="{{ params.word }}" placeholder="검색어를 입력해 주세요.">
                </div>
                <div class="search-btn">
                    <button type="submit" class="btn"><i class="fas fa-search"></i></button>
                </div>
            {{ form_close() }}
        </div>

        <div class="border-list bg">
        {% if notices.total == 0 %}
            <p class="text-none">공지 글이 없습니다.</p>
        {% else %}
            <ul>
            {% for notice in notices %}
                <li class="{{ notice.approved == 0 ? 'bg-first-date' }}">
                    <div class="border-content">
                        <div class="text">
                            <a href="javascript:void(0)">{{ notice.title }}</a>
                        </div>
                        <div class="info">
                            <span class="info-name">{{ notice.name }}</span>
                            <span class="info-hit" title="조회수"><i class="far fa-eye"></i>{{ notice.hit }}</span>
                            <span class="info-count"  title="댓글수"><i class="fas fa-comment"></i>{{ notice.count }}</span>
                            <span class="info-date">{{ notice.created_at }}</span>
                        </div>
                    </div>
                    <div class="border-btn">
                        {{ form_open('GET', { action: path_for('blog.admin.notice.edit', { notice_id: notice.id }) }) }}
                            {{ csrf_input | raw }}
                            <button type="submit" class="btn small link">수정하기</button>
                        {{ form_close() }}

                        {{ form_open('DELETE', { action: path_for('blog.admin.notice.destroy', { notice_id: notice.id }), onsubmit: 'return fnConfirm()' }) }}
                            {{ csrf_input | raw }}
                            <button type="submit" class="btn small link">삭제하기</button>
                        {{ form_close() }}

                        {{ form_open('PUT', { action: path_for('blog.admin.notice.update.approved', { notice_id: notice.id }) }) }}
                            {{ csrf_input | raw }}
                            <input type="hidden" name="approved" value="{{ notice.approved == 0 ? 1 : 0 }}">
                            <button type="submit" class="btn small link">{{ notice.approved == 0 ? '공개하기' : '비공개하기' }}</button>
                        {{ form_close() }}
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>

        <div class="bottom">
            {{ notices.links('pagination/default.twig') | raw }}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function fnConfirm() {
            return confirm("삭제하시면 복구가 불가능 합니다.\n정말로 삭제 하시겠습니까?");
        }
    </script>
{% endblock %}
