{% extends "layout/app.twig" %}

{% block title %}회원가입{% endblock %}

{% block content %}
    {{ form_open('POST', { action: path_for('blog.admin.signup.action') }) }}
        {{ csrf_input() }}

        <div>
            <label for="name">이름</label>
            <input type="text" name="name" id="name" value="{{ old.name }}">
            {% if errors.name %}
                <small>{{ errors.name | first }}</small>
            {% endif %}
        </div>

        <div>
            <label for="email">이메일</label>
            <input type="text" name="email" id="email" value="{{ old.email }}">
            {% if errors.email %}
                <small>{{ errors.email | first }}</small>
            {% endif %}
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password">
            {% if errors.password %}
                <small>{{ errors.password | first }}</small>
            {% endif %}
        </div>

        <div>
            <label for="password_confirmation">비밀번호 확인</label>
            <input type="password" name="password_confirmation" id="password_confirmation">
            {% if errors.password_confirmation %}
                <small>{{ errors.password_confirmation | first }}</small>
            {% endif %}
        </div>

        <button type="submit">전송하기</button>

    {{ form_close() }}
{% endblock %}
