{% extends "layout/app.twig" %}

{% block title %}로그인{% endblock %}

{% block content %}
    {% if session.has('fail') %}
        <p>{{ session.flash('fail') }}</p>
    {% endif %}

    {{ form_open('POST', { action: path_for('blog.admin.signin.action') }) }}
        {{ csrf_input() }}

        <div>
            <label for="email">이메일</label>
            <input type="text" name="email" id="email" value="{{ old.email }}">
            {% if errors.email %}
                <small>{{ errors.email | first }}</small>
            {% endif %}
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password">
            {% if errors.password %}
                <small>{{ errors.password | first }}</small>
            {% endif %}
        </div>

        <button type="submit">전송하기</button>
    {{ form_close() }}
{% endblock %}
