{% if paginator.hasPages() %}
    <div class="pagination">
        {% if paginator.onFirstPage() %}
            <a href="javascript:void(0)" class="disabled">&lsaquo;</a>
        {% else %}
            <a href="{{ paginator.previousPageUrl() }}">&lsaquo;</a>
        {% endif %}

        {% for element in elements %}
            {% if element is string %}
                <a href="javascript:void(0)" class="disabled">{{ element }}</a>
            {% endif %}

            {% if element is iterable %}
                {% for page, url in element %}
                    {% if page == paginator.currentPage() %}
                        <a href="javascript:void(0)" class="active">{{ page }}</a>
                    {% else %}
                        <a href="{{ url }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% if paginator.hasMorePages() %}
            <a href="{{ paginator.nextPageUrl() }}">&rsaquo;</a>
        {% else %}
            <a href="javascript:void(0)" class="disabled">&rsaquo;</a>
        {% endif %}
    </div>
{% endif %}
