{% extends "layout/admin_app.twig" %}

{% set title = trash ? '휴지통' : '관리' %}
{% set title = '댓글 ' ~ title %}
{% set csrf_input = csrf_input() %}

{% block title %} :: {{ title }}{% endblock %}

{% block content %}
    <div id="content">
        <div class="top">
            <h2>{{ title }}<small>{{ comments.total }} 건</small></h2>
            <div class="link">
                {% if trash %}
                    <a href="{{ path_for('blog.admin.comment.index') }}">댓글 관리</a>
                {% else %}
                    <a href="{{ path_for('blog.admin.comment.trash') }}">댓글 휴지통</a>
                {% endif %}
            </div>
        </div>

        <div class="search-box bg">
            {% set search_link = trash ? 'blog.admin.comment.trash' : 'blog.admin.comment.index' %}
            {{ form_open('GET', { action: path_for(search_link) }) }}
                <div class="search-field">
                    <select name="field" class="form-control">
                        <option value="">선택</option>
                        <option value="name" {{ params.field == 'name' ? 'selected'}}>작성자</option>
                        <option value="comment" {{ params.field == 'comment' ? 'selected'}}>내용</option>
                        <option value="ip" {{ params.field == 'ip' ? 'selected'}}>아이피</option>
                    </select>
                </div>
                <div class="search-word">
                    <input type="text" name="word" class="form-control" value="{{ params.word }}" placeholder="검색어를 입력해 주세요.">
                </div>
                <div class="search-btn">
                    <button type="submit" class="btn"><i class="fas fa-search"></i></button>
                </div>
            {{ form_close() }}
        </div>

        <div class="comment-list bg">
        {% if comments.total == 0 %}
            <p class="text-none">댓글 글이 없습니다.</p>
        {% else %}
            <ul>
            {% for comment in comments %}
                <li>
                    <div class="comment-content">
                        <div class="info">
                            <span class="info-name">{{ comment.name }}</span>
                            <span class="info-ip">{{ comment.ip }}</span>
                            <span class="info-date">{{ comment.created_at }}</span>
                        </div>
                        <div class="text">
                            <a href="javascript:void(0)">{{ comment.comment }}</a>
                        </div>
                        {% if comment.target_title %}
                            <div class="post">
                                <i class="far fa-file-alt"></i>{{ comment.target_title }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="comment-btn">
                    {% if trash %}
                        {{ form_open('DELETE', { action: path_for('blog.admin.comment.destroy', { comment_id: comment.id }), onsubmit: 'return fnConfirm()' }) }}
                            {{ csrf_input | raw }}
                            <input type="hidden" name="trash" value="{{ trash ? 1 : 0 }}">
                            <button type="submit" class="btn small link">삭제하기</button>
                        {{ form_close() }}
                    {% else %}
                        {% if comment.parent_id is null %}
                            <button type="button" class="btn small link btnCreate" data-id="{{ comment.id }}">답글쓰기</button>
                        {% endif %}
                    {% endif %}

                        {{ form_open('PUT', { action: path_for('blog.admin.comment.update', { comment_id: comment.id }) }) }}
                            {{ csrf_input | raw }}
                            <input type="hidden" name="approved" value="{{ trash ? 1 : 0 }}">
                            <input type="hidden" name="trash" value="{{ trash ? 1 : 0 }}">
                            <button type="submit" class="btn small link">{{ trash ? '복구하기' : '휴지통 보내기' }}</button>
                        {{ form_close() }}
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>

        <div class="bottom">
            {{ comments.links('pagination/default.twig') | raw }}
        </div>
    </div>
{% endblock %}

{% block layer %}
    <div class="layer">
        <div class="layer-bg"></div>
        <div class="layer-container">
            <div>
                <div class="layer-content w-400">
                    {{ form_open('POST', { name: 'form-create', action: path_for('blog.admin.comment.store') }) }}
                        {{ csrf_input | raw }}
                        <input type="hidden" name="parent_id">

                        <div class="top">
                            <h3>답글쓰기</h3>
                        </div>
                        <div class="middle">
                            <textarea name="comment" class="form-control border h-150"></textarea>
                        </div>
                        <div class="bottom text-center">
                            <button type="button" class="btn clouds btnCreate">취소하기</button>
                            <button type="submit" class="btn peter-river">저장하기</button>
                        </div>
                    {{ form_close() }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btnCreate').on("click", function (e) {
                var data = $(this).data();
                var id = "";

                if (typeof data.id == "number") {
                    id = data.id;
                }

                $("form[name=form-create]").find("input[name=parent_id]").val(id);

                $('.layer').fadeToggle();
            });
        });

        function fnConfirm() {
            return confirm("삭제하시면 복구가 불가능 합니다.\n정말로 삭제 하시겠습니까?");
        }
    </script>
{% endblock %}
