{% extends "layout/admin_app.twig" %}

{% block title %}방명록 답글쓰기{% endblock %}

{% block content %}

{{ form_open('POST', { action: path_for('blog.admin.guestbook.store', { parent_id: guestbook.id }) }) }}
    {{ csrf_input() }}
    <table border="1">
        <tbody>
            <tr>
                <th>이름</th>
                <td>{{ guestbook.name }}</td>
            </tr>
            <tr>
                <th>IP</th>
                <td>{{ guestbook.ip }}</td>
            </tr>
            <tr>
                <th>작성일자</th>
                <td>{{ guestbook.created_at }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ guestbook.comment }}</td>
            </tr>
            <tr>
                <th>답글</th>
                <td>
                    <textarea name="comment" cols="100" rows="5"></textarea>
                    {% if errors.comment %}
                        <small>{{ errors.comment | first }}</small>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit">답글쓰기</button>
{{ form_close() }}
{% endblock %}
